<!DOCTYPE html>
<html lang="en">
<head>
    <title>transmiApp</title>
    <link rel="stylesheet" th:href="@{/css/header-Footer.css}">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">TransmiApp</p>
            <nav>
                <a href="index.html">Inicio</a>
                <a href="conductores.html">Conductores</a>
                <a href="horarios.html">Horarios</a>
                <a href="rutas.html">rutas</a>
            </nav>
        </div>
    </header>





    <footer>
        <div class="container">
            <p>&copy; TransmiApp 2024</p>
        </div>
    </footer>
</body>
</html>